:root {
  --background: #efefef;
  --focus: #0096bfab;
  --input-animation-duration: 0.1s;
  --form-text: #333;
}

input {
  transition: background-color 0.4s linear, border-color 0.4s linear,
    color 0.4s linear, box-shadow 0.4s linear, transform 0.4s ease;
  transition: background-color var(--input-animation-duration) linear,
    border-color var(--input-animation-duration) linear,
    color var(--input-animation-duration) linear,
    box-shadow var(--input-animation-duration) linear,
    transform var(--input-animation-duration) ease;
}

input {
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  width: calc(100% - 20px);
}

button {
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

input {
  vertical-align: top;
}

label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}

input:focus {
  box-shadow: 0 0 0 2px var(--focus);
}

select:focus {
  box-shadow: 0 0 0 2px var(--focus);
}

.authForm {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.authForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.authForm .formControl {
  margin-bottom: 20px;
}

.authForm label {
  display: block;
  margin-bottom: 5px;
}

.authForm input[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.authForm input[type='submit']:hover {
  background-color: #45a049;
}

.authForm .error {
  color: red;
  font-size: 0.8em;
}

.authForm .loginRegisterLink {
  text-align: center;
  margin-top: 10px;
}

.authForm .loginRegisterLink a {
  color: #4caf50;
  text-decoration: none;
}

input[type='submit']:disabled {
  cursor: not-allowed;
}
