.authForm {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.authForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.authForm .formControl {
  margin-bottom: 20px;
}

.authForm label {
  display: block;
  margin-bottom: 5px;
}

.authForm button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.authForm button[type='submit']:hover {
  background-color: var(--primary-hover);
}

.authForm .error {
  color: var(--danger);
  font-size: 0.8em;
}

.authForm .loginRegisterLink {
  text-align: center;
  margin-top: 10px;
}

.authForm .loginRegisterLink a {
  color: var(--secondary);
  text-decoration: underline;
}

button[type='submit']:disabled {
  cursor: not-allowed;
}
