video {
  width: 100%;
  aspect-ratio: 16/9;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0em 6em;
  margin: 0 2em;
  background-color: var(--background);
}

.box,
.feedback {
  background-color: var(--background);
  border: 2px dashed black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.box {
  flex: 1 0;
}

.feedback {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: white;
  border: 2px solid var(--primary);
  border-radius: 4px;
  color: var(--primary);
  padding: 6px 15px;
  margin: 0 10px;
  cursor: pointer;
  min-width: 75px;
  width: 50px;
  min-height: 45px;
  transition: all 0.3s ease-out;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.like-active {
  color: white;
  border-color: var(--secondary);
  background-color: var(--secondary);
}

.dislike-active {
  color: white;
  border-color: var(--danger);
  background-color: var(--danger);
}

.loading-skeleton {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 16/9;
  background: linear-gradient(90deg, #f0f0f0 25%, #f8f8f8 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading-skeleton-animation 1.5s infinite linear;
  padding: 10px;
}

.title-placeholder {
  height: 20px;
  background-color: #f0f0f0;
  margin: 0.5em 0 0 0;
}

h2 {
  margin: 0.5em 0 0 0;
  font-size: 20px;
}

@media (max-width: 820px) {
  .container {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .feedback {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .title-placeholder {
    height: 19px;
    background-color: #f0f0f0;
    margin: 0.5em 0 0 0;
  }

  h2 {
    font-size: 19px;
  }
}

@keyframes loading-skeleton-animation {
  0%,
  100% {
    background-position: 200% 0;
  }
  50% {
    background-position: -200% 0;
  }
}
