.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-group input[type='file']:focus + label,
.upload-button:focus {
  outline: 2px solid var(--info);
}

.video-title-input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.video-title-input-group label {
  margin-bottom: 5px;
}

.error-message {
  color: var(--danger);
  margin-top: 10px;
}

.upload-label {
  text-align: left;
  margin-top: 10px;
}

.upload-label:hover {
  background-color: #ddd;
}

.upload-button {
  padding: 10px 15px;
  margin: 0;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  cursor: pointer;
}

.upload-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.upload-button-container {
  width: 100%;
  text-align: center;
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px dashed #edeff2;
  background-color: #edeff2;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.drop-zone.drag-over {
  border-color: var(--primary);
  background-color: #e6f7e9;
}

.selected-file {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.selected-file p {
  margin: 0;
}

.progress-bar {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

.progress-bar label {
  display: block;
  margin-bottom: 10px;
}

.progress-bar progress {
  display: block;
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

.progress-bar progress::-webkit-progress-bar {
  background-color: #e7e7e7;
  border-radius: 4px;
}

.progress-bar progress::-webkit-progress-value {
  background-color: var(--primary);
  border-radius: 4px;
  transition: width 0.2s linear;
}

.progress-bar progress::-moz-progress-bar {
  background-color: var(--primary);
  border-radius: 4px;
  transition: width 0.2s linear;
}

.progress-bar p {
  margin-top: 10px;
}

.clear-button {
  background-color: #f9f9f9;
  color: var(--danger);
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 5px;
}

.upload-button,
.clear-button {
  font-weight: 500;
}

.error-message {
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.selected-file {
  font-weight: 400;
}

.selected-file p,
.progress-bar p {
  font-weight: 400;
}
